*{
    margin: 0;
}
.card-content{
    width: 40%;
}
h2{
    font-size: 28px;
    margin-bottom: 5px;
}
h1{
    font-size: 38px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
h3{
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.description{
    margin-bottom: 15px;
}
.card-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 38px;
}